<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
      <Assistant.Properties.Settings>
        <setting name="BackupPath" serializeAs="String">
          <value />
        </setting>
        <setting name="BackupChatLogAutomatically" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="EnableIntervalBackup" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="RemoveTimestampsFromBackup" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="IntervalTime" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="RemoveTimestampsFromFilter" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="FilterNames" serializeAs="String">
          <value />
        </setting>
        <setting name="StartWithWindows" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="FirstStart" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="SuppressNotifications" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="LanguageCode" serializeAs="String">
          <value>en-US</value>
        </setting>
        <setting name="HasPickedLanguage" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Theme" serializeAs="String">
          <value>Default</value>
        </setting>
        <setting name="DisableInformationPopups" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="DisableWarningPopups" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="DisableErrorPopups" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="AlwaysCloseToTray" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="LastParsedAutoHash" serializeAs="String">
          <value />
        </setting>
        <setting name="FollowSystemColor" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="SameHashAutoCount" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="OtherCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="OOCCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ICCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="EmoteCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ActionCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="PMCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="RadioCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="AdsCriterionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="WarnOnSameHash" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="AutoParse" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="TranslationEnabled" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="TargetLanguage" serializeAs="String">
          <value>zh-CN</value>
        </setting>
        <setting name="SourceLanguage" serializeAs="String">
          <value>auto</value>
        </setting>
        <setting name="SendSourceLanguage" serializeAs="String">
          <value>zh-CN</value>
        </setting>
        <setting name="SendTargetLanguage" serializeAs="String">
          <value>en</value>
        </setting>
        <setting name="TranslationProvider" serializeAs="String">
          <value>Google</value>
        </setting>
        <setting name="DeepSeekApiKey" serializeAs="String">
          <value />
        </setting>
        <setting name="DeepSeekModel" serializeAs="String">
          <value>deepseek-v4-flash</value>
        </setting>
        <setting name="DeepSeekReasoningSpeed" serializeAs="String">
          <value>fast</value>
        </setting>
        <setting name="TranslationDisplayMode" serializeAs="String">
          <value>append</value>
        </setting>
        <setting name="EnableTranslationCache" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="TranslationPrompt" serializeAs="String">
          <value />
        </setting>
        <setting name="SendTranslationEnabled" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SendTranslationHotkey" serializeAs="String">
          <value>F9</value>
        </setting>
        <setting name="SendTranslationProvider" serializeAs="String">
          <value>Google</value>
        </setting>
        <setting name="SendDeepSeekApiKey" serializeAs="String">
          <value />
        </setting>
        <setting name="SendDeepSeekModel" serializeAs="String">
          <value>deepseek-v4-flash</value>
        </setting>
        <setting name="SendDeepSeekReasoningSpeed" serializeAs="String">
          <value>fast</value>
        </setting>
        <setting name="SendTranslationPrompt" serializeAs="String">
          <value />
        </setting>
        <setting name="TranslationStyle" serializeAs="String">
          <value>casual</value>
        </setting>
        <setting name="TranslationBulkHotkey" serializeAs="String">
          <value>Ctrl+F9</value>
        </setting>
        <setting name="AutoTranslate" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="AutoTranslateHotkey" serializeAs="String">
          <value>Ctrl+Shift+F9</value>
        </setting>
        <setting name="TranslatorWindowLeft" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="TranslatorWindowTop" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="ShowGameToasts" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="DeepLApiKey" serializeAs="String">
          <value></value>
        </setting>
        <setting name="SendDeepLApiKey" serializeAs="String">
          <value></value>
        </setting>
        <setting name="DoubaoApiKey" serializeAs="String">
          <value></value>
        </setting>
        <setting name="DoubaoModel" serializeAs="String">
          <value>doubao-seed-2.0-lite</value>
        </setting>
        <setting name="SendDoubaoApiKey" serializeAs="String">
          <value></value>
        </setting>
        <setting name="SendDoubaoModel" serializeAs="String">
          <value>doubao-seed-2.0-lite</value>
        </setting>
        <setting name="CustomEndpoint" serializeAs="String">
          <value>https://dashscope.aliyuncs.com/compatible-mode/v1</value>
        </setting>
        <setting name="CustomProviderName" serializeAs="String">
          <value>Alibaba Qwen</value>
        </setting>
        <setting name="CustomApiKey" serializeAs="String">
          <value></value>
        </setting>
        <setting name="CustomModel" serializeAs="String">
          <value>qwen-plus</value>
        </setting>
        <setting name="CustomModels" serializeAs="String">
          <value></value>
        </setting>
        <setting name="SendCustomEndpoint" serializeAs="String">
          <value>https://dashscope.aliyuncs.com/compatible-mode/v1</value>
        </setting>
        <setting name="SendCustomProviderName" serializeAs="String">
          <value>Alibaba Qwen</value>
        </setting>
        <setting name="SendCustomApiKey" serializeAs="String">
          <value></value>
        </setting>
        <setting name="SendCustomModel" serializeAs="String">
          <value>qwen-plus</value>
        </setting>
        <setting name="SendCustomModels" serializeAs="String">
          <value></value>
        </setting>
        <setting name="ZoomApiKey" serializeAs="String">
          <value></value>
        </setting>
        <setting name="SendZoomApiKey" serializeAs="String">
          <value></value>
        </setting>
        <setting name="SettingsPageTranslation" serializeAs="String">
          <value>False</value>
        </setting>
      </Assistant.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Assistant.Properties.Settings>
            <setting name="SameHashWarnAmount" serializeAs="String">
                <value>2</value>
            </setting>
        </Assistant.Properties.Settings>
    </applicationSettings>
</configuration>
